# Arquivos auxiliares do LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.lof
*.lot
*.lol
*.idx
*.ilg
*.ind
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls

# Arquivos temporários
*.tmp
*.temp

# Python 
_pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
.env/
.venv/

# Arquivos de build/distribuição
build/
dist/
*.egg-info/

# C / C++ 
*.o
*.out
*.exe
*.a
*.so
*.dll

# Arquivos gerados por compiladores
*.dSYM/
*.stackdump

# IDEs
.vscode/
.idea/
*.code-workspace
