# Arquivos auxiliares do LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.lof
*.lot
*.lol
*.idx
*.ilg
*.ind
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls

# Arquivos temporários
*.tmp
*.temp
